body {
    font-family: monospace;

    background-color: rgb(4, 4, 65);
    color: white;
}

header {
    position: fixed;
    margin: 0;
    padding-left: 10px;

    left: 0;
    top: 0;

    text-align: center;
    vertical-align: middle;
    line-height: 30px;

    width: 100%;
    height: 30px;
    background-color: rgb(48, 46, 70);

    & a {
        color: rgb(16, 182, 16);
    }

    & .debug-mode-toggle {
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(-5px);

        user-select: none;
        text-decoration: underline;
        cursor: pointer;
    }
}

.output-area {
    margin-top: 40px;
    margin-bottom: 40px;
}

.parsed-as,
.derivative {
    color: yellow;
}

.debug-msg {
    color: rgb(121, 119, 119);
}

.error {
    color: rgb(206, 7, 7);
    font-weight: bold;
    text-decoration: underline;

    &-msg {
        font-weight: normal;
    }
}

.sub {
    color: rgb(146, 146, 146);
}

input {
    position: fixed;
    margin: 0;
    padding: 5px;
    padding-left: 10px;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 30px;

    background-color: rgb(0, 0, 46);
    color: white;
    font-family: monospace;

    border: none;
    &:focus {
        outline: none;
    }
}
